<div >&nbsp;</div>
<div class="row">
      <div class="col s9">
        <div class="row">
           <div class="card z-depth-2">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
          I am a very simple card. I am good at containing small bits of information.
          I am a very simple card. I am good at containing small bits of information.
          I am a very simple card. I am good at containing small bits of information.
          I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.
          <p>I am a very simple card. I am good at containing small bits of information.</p>
          I am a very simple card. I am good at containing small bits of information.
          I am a very simple card. I am good at containing small bits of information.
          I am a very simple card. I am good at containing small bits of information.
          I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.
          <p>I am a very simple card. I am good at containing small bits of information.</p>
          I am a very simple card. I am good at containing small bits of information.
          I am a very simple card. I am good at containing small bits of information.
          I am a very simple card. I am good at containing small bits of information.
          I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.

      </div>
  </div>

        </div>
        <div class="row"> 
          <div class="switch">
            Full version : 
              <label> Off  <input type="checkbox"> <span class="lever"></span>  On </label> 
              </div>
          </div>
        <div class="row">          <div class="card z-depth-2">
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test1" class="tooltipped" data-position="bottom" data-delay="560" data-tooltip="It is Test1">Test 1</a></li>
        <li class="tab"><a href="#test2" class="tooltipped" data-position="bottom" data-delay="560" data-tooltip="It is Test2">Test 2</a></li>
         <li class="tab"><a href="#test3" class="tooltipped" data-position="bottom" data-delay="560" data-tooltip="It is Test3">Test 3</a></li>
         <li class="tab"><a href="#test4" class="tooltipped" data-position="bottom" data-delay="560" data-tooltip="It is Test4">Test 4</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test1">1

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

Why do we use it?
It is a long established 
fact that a reader will be
 distracted by the readabl
 e content of a page when l
 ooking at its layout. The point 
 of using Lorem Ipsum is that it has a more-or-less normal
  distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

      </div>
       <div id="test2">2</div>
        <div id="test3">3</div>
         <div id="test4">4</div>
      
    </div>
  </div>

        </div>
      </div>
      <div class="col s3">
      </div>
    </div>