 <div class="z-depth-3 navbar-fixed">
    <nav class="grey darken-4">
      <div class="nav-wrapper">
         <a  class="brand-logo center">Initializr</a>
         <a  class="brand-logo right" style="font-size:18px">Downloads : 10</a>
      </div>
    </nav>    
  </div>
 <div class="progress">
          <div class="indeterminate"></div>
          </div>
<ul id="slide-out" class="side-nav z-depth-3 fixed">
      <li><div class="section">
        </div></li>
      <li></li>
      <li> 
       <input type="checkbox"  id="test5" />
      <label for="test5">Red</label></li>
        <li><div class="section"></div></li><li><div class="section"></div></li>  <li><div class="section"></div></li>  <li><div class="section"></div></li>  <li><div class="section"></div></li>  <li><div class="section"></div></li>
        <li><div class="section"></div></li><li><div class="section"></div></li>  <li><div class="section"></div></li>  <li><div class="section"></div></li>  <li><div class="section"></div></li>  <li><div class="section"></div></li>
         <li><div class="section"></div></li>   <li><div class="section"></div></li>  <li><div class="section"></div></li>
</ul>
 <a href="#" data-activates="slide-out" class="button-collapse"></a>
 <div class="fixed-action-btn"><a class="btn-floating btn-large waves-effect waves-light grey darken-4"><i class="material-icons tooltipped"  data-position="top" data-delay="20" data-tooltip="Download" style="color:#ff4081">file_download</i></a></div>

<app-initializr></app-initializr>
