/* You can add global styles to this file, and also import other style files */
.tabs .tab a.active {
    background-color: transparent;
    color: #3f51b5 ;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #3f51b5 ;
    will-change: left, right;
}
.tabs .tab a {
    color:#00bcd4;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .18s ease;
    transition: color .18s ease;
}
 .progress {
    z-index: 100;
    position: fixed;
    height: 4px;
    display: block;
    width: 100%;
    background-color:#8C92FF ;
    border-radius: 2px;
    margin: .01rem 0 0 0;
    overflow: hidden;
}
.progress .indeterminate {
    background-color:#80FFFB;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #1565c0 ;    
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #1565c0 ;    
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #90caf9 ;
}
body{
 font-family:  'Open Sans', sans-serif;
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
    box-shadow: 0 1px 0 0 darkblue;
    border-bottom: 1px solid darkblue;
} 
.no-shadow{
    box-shadow:none;
}
.cb-checkbox-card-panel {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 10px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: darkblue;
    background-color: #fff;
}
.cb-checkbox-des{
    font-size: 80%;
    font-style: italic;
    padding-left: 30%;
}
span.badge.new {
    font-weight: 300;
    font-size: 0.8rem;
    color: black;
    background-color: aquamarine;
    border-radius: 2px;
}

